.movie-item {
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  box-sizing: border-box;
}
.title-and-rating {
  font-weight: bold;
}
p.overview {
  margin: 0px 50px 30px 50px;
}